@tailwind components;
@tailwind utilities;
/* DO NOT INCLUDE @tailwind base; */

/* Scoped Reset to replace missing preflight */
.sg-widget-root *,
.sg-widget-root ::before,
.sg-widget-root ::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

.sg-widget-root button,
.sg-widget-root input,
.sg-widget-root optgroup,
.sg-widget-root select,
.sg-widget-root textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

.sg-widget-root button,
.sg-widget-root [type='button'],
.sg-widget-root [type='reset'],
.sg-widget-root [type='submit'] {
  -webkit-appearance: button;
  appearance: button;
  background-color: transparent;
  background-image: none;
}

/* Fix inputs to use standard appearance so they accept background colors/borders */
.sg-widget-root input[type='text'],
.sg-widget-root input[type='number'],
.sg-widget-root select {
  -webkit-appearance: none;
  appearance: none;
}

/* But select needs a dropdown arrow! */
.sg-widget-root select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem !important;
}

.sg-widget-root {
  --widget-text-primary: #000000;
  --widget-text-secondary: #57534e;
  --widget-bg-primary: #ffffff;
  --widget-bg-secondary: #f5f5f4;
  --widget-border-light: #d6d3d1;
  --widget-border-dark: #44403c;
  --widget-accent: #ea580c;
  --widget-primary: #0ea5e9;
  --widget-primary-highlight: #f97316;
  --widget-chart-line: #dc2626;
}

.dark .sg-widget-root, .sg-widget-root.dark {
  --widget-text-primary: #e7e5e4;
  --widget-text-secondary: #a8a29e;
  --widget-bg-primary: #1c1917;
  --widget-bg-secondary: #292524;
  --widget-border-light: #57534e;
  --widget-border-dark: #a8a29e;
  --widget-accent: #fb923c;
  --widget-primary: #38bdf8;
  --widget-primary-highlight: #fb923c;
  --widget-chart-line: #f87171;
}
